@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header_logo {
  height: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
header .close {
  display: none;
}
header .open,
header .close {
  margin-block: 1.5rem;
}
header nav {
  position: absolute;
  left: 0;
  top: 4.3rem;
  z-index: 150;
  height: calc(100vh - 4.3rem);
  background-color: #495567;
  width: 70%;
  padding: 4rem 2rem;
  text-align: start;
  font-size: 1.1rem;
  display: none;
}
header nav li {
  margin-bottom: 1.5rem;
}
header nav .cta {
  position: absolute;
  bottom: 2rem;
}

.application {
  background-color: #939CAA;
  padding: 5.5rem 2rem;
  background-image: url(../assets/patterns/white-circles.svg);
  background-position: -600px 130px;
  background-repeat: no-repeat;
  background-size: 300%;
  position: relative;
}
.application h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 10;
}
.application img {
  height: 40px;
  position: relative;
  z-index: 10;
}

.application_img img:nth-child(1) {
  margin-right: 0.75rem;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer {
  background-color: #495567;
  padding: 4rem 8rem 5rem;
}
footer .footer_logo {
  margin-bottom: 2.25rem;
}
footer li {
  margin-bottom: 1rem;
}
footer ul {
  margin-bottom: 5.3rem;
}
footer a {
  color: #939CAA;
  font-weight: bold;
  line-height: 1.5;
}
footer .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 4.3rem;
  left: 0;
  display: none;
}

.circles,
.line,
.circle,
.line_desktop {
  display: none;
}

@media screen and (min-width: 750px) {
  header {
    padding-inline: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_menutoggle {
    display: none;
  }
  header .header_logo {
    position: unset;
    margin-block: 2.5rem;
    -webkit-transform: translate(0);
            transform: translate(0);
    height: 28px;
    margin-right: 3.625rem;
  }
  header .header_logo--wrapper {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    font-size: 0;
  }
  header nav {
    display: unset;
    position: static;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header nav ul {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav li {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  header nav li a {
    color: #939CAA;
    margin-bottom: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  header nav li a:hover {
    color: #FCB72B;
  }
  header nav .cta {
    position: unset;
    float: right;
    color: #fff;
  }
  .application {
    padding-inline: 10rem;
    background-size: 150%;
    background-position: center 200px;
  }
  .application h2 {
    font-size: 3rem;
  }
  footer {
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer_logo {
    margin-bottom: 0;
    margin-right: 3.75rem;
  }
  footer ul {
    margin-bottom: 0;
  }
  footer .footer_nav li {
    display: inline;
    margin-right: 2rem;
  }
  footer .footer_nav li a {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  footer .footer_nav li a:hover {
    color: #FCB72B;
  }
  footer .socials {
    float: right;
  }
  footer .socials li {
    margin-bottom: 0;
  }
}
a {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  header {
    padding-inline: 10.56rem;
  }
  header .header_logo {
    margin-right: 3.625rem;
    color: #fff;
  }
  .application {
    padding: 6.375rem 10.31rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: 75%;
    background-position-y: 150px;
    background-position-x: 450px;
  }
  .application h2 {
    margin: 0;
    max-width: 15ch;
    text-align: start;
  }
  .application .application_img img {
    margin: 0;
    display: inline;
    height: 56px;
  }
  .application .application_img img:nth-child(1) {
    margin-right: 1rem;
  }
  footer {
    padding-inline: 10.31rem;
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

main,
header,
footer {
  max-width: 1700px;
  margin-inline: auto;
}

a {
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: "Space Mono";
}

ul {
  list-style: none;
}

img {
  max-inline-size: 100%;
}

p {
  font-size: 0.935rem;
  line-height: 1.56;
}

.hero {
  padding: 3.75rem 2rem;
  background-image: url(../assets/images/careers-location-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4.5rem;
}
.hero h1 {
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
}

.cta {
  display: inline-block;
  font-family: "Space Mono";
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 1rem 2.5rem;
  background-color: #FCB72B;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.cta:hover {
  outline: 2px solid #FCB72B;
  color: #FCB72B;
  background-color: transparent;
}

.world_map {
  padding-inline: 2rem;
  margin-bottom: 4.5rem;
}
.world_map img {
  margin-bottom: 2rem;
}

.wrapper {
  padding-block: 2rem;
  background-color: #FFF4DF;
  margin-bottom: 1rem;
}
.wrapper span {
  font-size: 1.5rem;
  font-family: "Space Mono";
  color: #495567;
  font-weight: 800;
  letter-spacing: -1px;
}

.contact {
  padding-inline: 2rem;
  margin-bottom: 4.5rem;
}
.contact h2 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -1.43px;
  color: #495567;
  margin-bottom: 2rem;
}
.contact p {
  color: #939CAA;
  margin-bottom: 2rem;
}