@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.79px;
  color: #fff;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Space Mono";
  font-weight: bold;
  letter-spacing: -0.89px;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header_logo {
  height: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
header .close {
  display: none;
}
header .open,
header .close {
  margin-block: 1.5rem;
}
header nav {
  position: absolute;
  left: 0;
  top: 4.3rem;
  z-index: 150;
  height: calc(100vh - 4.3rem);
  background-color: #495567;
  width: 70%;
  padding: 4rem 2rem;
  text-align: start;
  font-size: 1.1rem;
  display: none;
}
header nav li {
  margin-bottom: 1.5rem;
}
header nav .cta {
  position: absolute;
  bottom: 2rem;
}

img {
  max-inline-size: 100vw;
}

.hero {
  position: relative;
  padding: 7.18rem 2rem 11.18rem;
  background-image: url(/assets/images/home-hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero .decoration {
  position: absolute;
  bottom: 2.1rem;
  right: 65%;
  height: 138px;
}
.hero p {
  margin-bottom: 2rem;
  color: #fff;
}

.cta {
  display: inline-block;
  font-family: "Space Mono";
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 1rem 2.5rem;
  background-color: #FCB72B;
  font-weight: bold;
}

.steps {
  margin-block: 7.5rem;
}
.steps .steps_item {
  padding-inline: 2rem;
  margin-bottom: 2rem;
}
.steps h2 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: #495567;
  margin-bottom: 1.5rem;
}
.steps p {
  color: #939CAA;
}
.steps img {
  aspect-ratio: 1;
  height: 56px;
  margin-bottom: 1.5rem;
}

.advantages {
  overflow: hidden;
}
.advantages .advantage_section--img {
  position: relative;
  display: inline-block;
}
.advantages img:not(.decoration, .circle) {
  aspect-ratio: 1;
  width: 82%;
  max-width: 445px;
  height: auto;
  margin-inline: auto;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}
.advantages h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #495567;
  line-height: 1;
  margin-bottom: 2rem;
}
.advantages p {
  color: #939CAA;
  margin-bottom: 2rem;
}
.advantages .advantage_section--text {
  padding-inline: 2rem;
  margin-bottom: 7.5rem;
}
.advantages .decoration.one {
  position: absolute;
  bottom: 20%;
  left: 2rem;
  width: 100%;
  height: auto;
  -webkit-transform: scale(2);
          transform: scale(2); /* Center the arrow and scale up */
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.advantages .decoration.two {
  position: absolute;
  top: 0;
  right: 8rem;
}
.advantages .decoration.three {
  position: absolute;
  top: 3rem;
  left: 40%;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.application {
  background-color: #939CAA;
  padding: 5.5rem 2rem;
  background-image: url(../assets/patterns/white-circles.svg);
  background-position: -600px 130px;
  background-repeat: no-repeat;
  background-size: 300%;
  position: relative;
}
.application h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 10;
}
.application img {
  height: 40px;
  position: relative;
  z-index: 10;
}

.application_img img:nth-child(1) {
  margin-right: 0.75rem;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer {
  background-color: #495567;
  padding: 4rem 8rem 5rem;
}
footer .footer_logo {
  margin-bottom: 2.25rem;
}
footer li {
  margin-bottom: 1rem;
}
footer ul {
  margin-bottom: 5.3rem;
}
footer a {
  color: #939CAA;
  font-weight: bold;
  line-height: 1.5;
}
footer .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 4.3rem;
  left: 0;
  display: none;
}

.circles,
.line,
.circle {
  display: none;
}

@media screen and (min-width: 750px) {
  header {
    padding-inline: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_menutoggle {
    display: none;
  }
  header .header_logo {
    position: unset;
    margin-block: 2.5rem;
    -webkit-transform: translate(0);
            transform: translate(0);
    height: 28px;
    margin-right: 3.625rem;
  }
  header .header_logo--wrapper {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    font-size: 0;
  }
  header nav {
    display: unset;
    position: static;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header nav ul {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav li {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0;
  }
  header nav li a {
    color: #939CAA;
    margin-bottom: 0;
  }
  header nav .cta {
    position: unset;
    float: right;
  }
  .hero {
    padding: 8.56rem 6rem 13.56rem;
    background-image: url(../assets/images/home-hero-tablet.jpg);
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero .circles {
    display: unset;
    position: absolute;
    bottom: 2.5rem;
    right: -31px;
  }
  .steps {
    position: relative;
    margin-bottom: 9.06rem;
  }
  .steps .steps_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    padding-inline: 6rem;
    gap: 5rem;
  }
  .steps .steps_item h2 {
    font-size: 1.5rem;
  }
  .steps .steps_item img {
    height: 96px;
    margin-bottom: 0;
  }
  .line {
    display: unset;
    position: absolute;
    width: 15px;
    height: 110%;
    background-color: rgba(147, 156, 170, 0.5);
    top: -7.5rem;
    left: 8.5rem;
    z-index: -1;
  }
  .advantage_section--img img:not(.decoration, .circle) {
    width: 445px;
    margin-bottom: 3.5rem;
  }
  .advantage_section--img .decoration.one {
    left: -6rem;
  }
  .advantage_section--img .decoration.two {
    right: 16rem;
  }
  .advantages .advantage_section--text {
    margin-bottom: 8rem;
    padding-inline: 6.125rem;
  }
  .advantages .advantage_section--text h2 {
    font-size: 3rem;
    margin-inline: 5rem;
    margin-bottom: 2.5rem;
  }
  .advantages .advantage_section--text p {
    margin-bottom: 2.5rem;
  }
  .circle {
    display: unset;
    position: absolute;
    right: -500px;
    -webkit-transform: scale();
            transform: scale();
    bottom: 2.5rem;
  }
  .left {
    right: unset;
    left: -500px;
  }
  .application {
    padding-inline: 10rem;
    background-size: 150%;
    background-position: center 200px;
  }
  .application h2 {
    font-size: 3rem;
  }
  footer {
    padding: 2rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer_logo {
    margin-bottom: 0;
    margin-right: 3.75rem;
  }
  footer ul {
    margin-bottom: 0;
  }
  footer .footer_nav li {
    display: inline;
    margin-right: 2rem;
  }
  footer .socials {
    float: right;
  }
  footer .socials li {
    margin-bottom: 0;
  }
}