@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'variables';
@import 'header';



body {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}


h1 {
    font-family: 'Space Mono', monospace;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.79px;
    color: #fff;
    margin-bottom: 1.5rem;
}

h2 {
    font-family: 'Space Mono';
    font-weight: bold;
    letter-spacing: -.89px;
}

p {
    font-size: .9375rem;
    line-height: 1.5rem;
    
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}


img {
    max-inline-size: 100vw;
}

.hero {
    position: relative;
    padding: 7.18rem 2rem 11.18rem;
    background-image: url(/assets/images/home-hero-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .decoration {
        position: absolute;
        bottom: 2.1rem;
        right: 65%;
        height: 138px;
       
    }

    p {
        margin-bottom: 2rem;
        color: #fff;
    }
}

.cta {
    display: inline-block;
    font-family: 'Space Mono';
    font-size: .95rem;
    line-height: 1.5rem;
    padding: 1rem 2.5rem;
    background-color: $yellow;
    font-weight: bold;
    transition: all .3s ease-in;

    &:hover {
        outline: 2px solid $yellow;
        color: $yellow;
        background-color: transparent;
    }
}

.steps {
    margin-block: 7.5rem;

    .steps_item {
        padding-inline: 2rem;
        margin-bottom: 2rem;
    }


    h2 {
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $dark-navy;
        margin-bottom: 1.5rem;
    }

    p {
        color: #939CAA;
    }

    img {
        aspect-ratio: 1;
        height: 56px;
        margin-bottom: 1.5rem;
    }
}

.advantages {
    overflow: hidden;
    .advantage_section--img {
        position: relative;
        display: inline-block;
        
        
    }

    img:not(.decoration, .circle) {
        aspect-ratio: 1;
        width: 82%;
        max-width: 445px;
        height: auto;
        margin-inline: auto;
        border-radius: 50%;
        margin-bottom: 2.5rem;
        
    }

    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: $dark-navy;
        line-height: 1;
        margin-bottom: 2rem;
    }

    p {
        color: $dim-grey;
        margin-bottom: 2rem;
    }

    .advantage_section--text {
        padding-inline: 2rem;
        margin-bottom: 7.5rem;
    }

    .decoration.one {
        position: absolute;
        bottom: 20%; 
        left: 2rem; 
        width: 100%; 
        height: auto;
        transform:  scale(2); /* Center the arrow and scale up */
        transform-origin: left center;
    }

    .decoration.two {
        position: absolute;
        top: 0;
        right: 8rem;
    }

    .decoration.three {
        position: absolute;
        top: 3rem;
        left: 40%;
        transform: scale(2);
        transform-origin: left center;
    }

}



@media screen and (min-width: 750px) {
    .hero {
        padding: 8.56rem 6rem 13.56rem;
        background-image: url(../assets/images/home-hero-tablet.jpg);

        h1 {
            font-size: 3.5rem;
        }

        .circles {
            display: unset;
            position: absolute;
            bottom: 2.5rem;
            right: -31px;
            
        }
    }

    .steps {
        position: relative;
        margin-bottom: 9.06rem;
    }

    .steps .steps_item {
        display: flex;
        align-items: center;
        text-align: start;
        padding-inline: 6rem;
        gap: 5rem;

        h2 {
            font-size: 1.5rem;
        }

        img {
            height: 96px;
            margin-bottom: 0;
        }
    }

    .line {
        display: unset;
        position: absolute;
        width: 15px;
        height: 110%;
        background-color: fade-out($color: $dim-grey, $amount: .5);
        top: -7.5rem;
        left: 8.5rem;
        z-index: -1;
    }

    
    .advantage_section--img{
        img:not(.decoration, .circle) {
            width: 445px;
            margin-bottom: 3.5rem;
        }

        .decoration.one {
            left: -6rem;
        }

        .decoration.two {
            right: 16rem;
        }
    
    }


    .advantages .advantage_section--text {
        margin-bottom: 8rem;
        padding-inline: 6.125rem;

        h2 {
            font-size: 3rem;
            margin-inline: 5rem;
            margin-bottom: 2.5rem;
        }

        p {
            margin-bottom: 2.5rem;
        }
    }
    
    .circle {
        display: unset;
        position: absolute;
        right: -500px;
        transform: scale();
        bottom: 2.5rem;
    }

    .left {
        right: unset;
        left: -500px;
    }

    
}

@media screen and (min-width: 1200px) {

    .hero {
        padding: 9.56rem 10.31rem;
        text-align: start;
        background-image: url(../assets/images/home-hero-desktop.jpg);

        h1 {
            max-width: 15ch;
        }
        p, a {
            margin-left: 5.93rem;
            max-width: 45ch;
        }

        .decoration {
            bottom: 9.81rem;
            left: 50%;
        }

        .circles {
            bottom: 10rem;
        }

        .line_desktop {
            display: unset;
            position: absolute;
            left: 0;
            bottom: 17.6rem;
        }
    }

    .steps {
        display: flex;
        padding-inline:10.31rem ;
        gap: 2rem;
        margin-block: 10rem 12.5rem;

        .steps_item {
            flex-direction: column;
            align-items: start;
            padding-inline: 0;
            gap: 2.5rem;
        }

        .line {
            height: 15px;
            width: 65%;
            top: 2.7rem;
            left: 0;
        }
    }

    .advantages {
        margin-bottom: 3rem;

        .advantage_section {
            display: flex;
            align-items: center;
            padding-inline: 10.31rem;
            text-align: start;
            gap: 13rem;
            margin-bottom: 10rem;
            
            .advantage_section--text {
                padding: 0;
                margin-bottom: 0;
            }

            .advantage_section--img img{
                margin: 0;
            }
            h2 {
                margin-inline: 0;
                margin-bottom: 1.5rem;
                max-width: 17ch;
            }

            p {
                max-width: 48ch;
            }

            .cta {
                padding: .875rem 2.75rem;
            }

            .decoration.one {
                left: -4.81rem;
            }

            .decoration.three {
                transform: scale(1);
            }

            .circle {
                top: .2rem;
            }
            
           
        }
    }

    

    .advantages .advantage_section:nth-child(1) .advantage_section--img,
    .advantages .advantage_section:nth-child(3) .advantage_section--img {
        order: 1;
    }

    
}

